[submodule "third_party/android-activity"]
	path = third_party/android-activity
	url = https://github.com/worka-ai/android-activity.git
	branch = worka
[submodule "third_party/vello"]
	path = third_party/vello
	url = git@github.com:worka-ai/vello.git
	branch = worka/dynamic-gpu-buffers
